extends layout

block content
    body.container.ranking-page
        .head.peekawoo-logo
            .container
                p#codename
        .ranking-container
            .ranking-selection-box
                h1#selection-title Woos
                p#selection-para People who like you
                .ranking-selection-list
                    .ranking-left
                        - var i =0;
                        each sample in chatmate
                            .img-photo
                                img.chat_photo(id=sample.codename, src=sample.photourl)
                            p.chat-mate=sample.codename
                            a#fblinkicon(href="http://facebook.com/"+sample.username)
                            a#twlinkicon(href="http://twitter.com/"+sample.username)
                        - i++
                .submit-part
                    button#submit_rating(type='button') Go back and mingle some more!
                    p#btn-woos 
                    input(type="hidden",id="chatm8",value=chatmate)
                    input(type="hidden",id="chatm7",value=chatmate.length))
                    input(type="hidden",id="chatm6",value=user)
                    input(type="hidden",id="user1",value=user.provider)
        script
            $('#submit_rating').click(function(){
                var userme = $('#user1').val();
                if(userme == 'facebook'){
                    document.location.href='/authfb';
                }
                else{
                    document.location.href='/authtw';
                }
            });